.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 500ms;
}

.header a:hover{
    color: rgb(138, 137, 137);
}

.header .logo{
    height: 100%;
    max-height: 50px;
}

.header .title-group i{
    padding-left: 25px;
    padding-right: 5px;
}